Source: maya-calendar
Section: utils
Priority: optional
Maintainer: Cody Garver <codygarver@gmail.com>
Build-Depends: cmake (>= 2.8),
               debhelper,
               libecal1.2-dev (>= 3.2.0),
               libgee-dev,
               libglib2.0-dev (>= 2.29.0),
               libgranite-dev,
               libgtk-3-dev,
               libical-dev,
               pkg-config,
               valac-0.16 | valac (>= 0.16)
Standards-Version: 3.9.3
Homepage: https://launchpad.net/maya

Package: maya
Architecture: any
Depends: maya-calendar, ${misc:Depends}
Description: transitional dummy package
 This is a transitional dummy package. It can safely be removed.

Package: maya-calendar
Replaces: maya (<< 0.2.0~r394)
Conflicts: maya (<< 0.2.0~r394)
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: GCal-syncing GTK+ calendar application
 Maya is a slim, lightweight, GTK+ calendar application written
 in Vala, specifically for the Elementary project.

Package: maya-calendar-dbg
Architecture: any
Section: debug
Priority: extra
Depends: maya-calendar (= ${binary:Version}), ${misc:Depends}
Description: GCal-syncing GTK+ calendar application (debugging symbols)
 Maya is a slim, lightweight, GTK+ Calendar application written
 in Vala, specifically for the elementary project.
 .
 This package contains debugging symbols for maya.
