Source: maya-calendar
Section: utils
Priority: optional
Maintainer: Cody Garver <cody@elementaryos.org>
Build-Depends: cmake (>= 2.8),
               debhelper,
               libchamplain-gtk-0.12-dev,
               libchamplain-0.12-dev,
               libclutter-1.0-dev,
               libecal1.2-dev (>= 3.8.0),
               libgee-0.8-dev,
               libgeocode-glib-dev,
               libglib2.0-dev (>= 2.29.0),
               libgranite-dev,
               libgtk-3-dev (>= 3.11.6),
               libical-dev,
               libpeas-dev,
               pkg-config,
               valac-0.24 | valac (>= 0.23.2)
Standards-Version: 3.9.5
Homepage: https://launchpad.net/maya

Package: maya-calendar
Replaces: maya (<< 0.2.0~r394)
Conflicts: maya (<< 0.2.0~r394)
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         maya-calendar-common (= ${source:Version})
Description: GTK+ calendar application
 Maya is a slim, lightweight, GTK+ calendar application written
 in Vala, specifically for elementary.

Package: maya-calendar-common
Replaces: maya (<< 0.2.0~r394)
Conflicts: maya (<< 0.2.0~r394)
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: GTK+ calendar application
 Maya is a slim, lightweight, GTK+ calendar application written
 in Vala, specifically for elementary.

Package: maya-calendar-plugin-google
Architecture: any
Enhances: maya-calendar
Depends: ${misc:Depends},
         ${shlibs:Depends},
         maya-calendar (= ${binary:Version})
Description: GTK+ calendar application
 Maya is a slim, lightweight, GTK+ calendar application written
 in Vala, specifically for elementary.

Package: maya-calendar-plugin-caldav
Architecture: any
Enhances: maya-calendar
Depends: ${misc:Depends},
         ${shlibs:Depends},
         maya-calendar (= ${binary:Version})
Description: GTK+ calendar application
 Maya is a slim, lightweight, GTK+ calendar application written
 in Vala, specifically for elementary.

Package: maya-calendar-dbg
Architecture: any
Section: debug
Priority: extra
Depends: maya-calendar (= ${binary:Version}), ${misc:Depends}
Description: GTK+ calendar application (debugging symbols)
 Maya is a slim, lightweight, GTK+ Calendar application written
 in Vala, specifically for elementary.
 .
 This package contains debugging symbols for maya.
