[Desktop Entry]
Type=Application
Name=Maya
GenericName=Calendar
Comment=View and schedule events
Exec=maya-calendar
Icon=office-calendar
Terminal=false
Categories=GTK;Office;Calendar;
StartupNotify=true
MimeType=text/calendar;
Keywords=Maya;Planner;Dates;Days;Events;
X-AppInstall-Keywords=Maya;Planner;Dates;Days;Events;
Actions=AddEvent;AboutDialog;
X-GNOME-Gettext-Domain=maya-calendar

[Desktop Action AddEvent]
Name=Add Event
Exec=maya-calendar -a

[Desktop Action AboutDialog]
Name=About Maya
Exec=maya-calendar --about
