[Desktop Entry]
Type=Application
Version=1.0
Name=Maya
GenericName=Calendar
Comment=View and schedule events
Exec=maya
Icon=office-calendar
Terminal=false
Categories=GTK;Office;Calendar;
StartupNotify=true
MimeType=text/calendar
X-GNOME-Gettext-Domain=maya

X-Ayatana-Desktop-Shortcuts=AddEvent

[AddEvent Shortcut Group]
Name=_Add Event
Exec=maya -a
TargetEnvironment=Unity
