.event {
    background: alpha(@accent_color, 0.15);
    border-radius: 3px;
    color: shade(@accent_color, 0.65);
    padding: 6px;
}

.cell .event {
    padding: 3px 6px;
    margin-bottom: 3px;
}

.cell.dim-label .event {
    background: alpha (@base_color, 0.7);
    color: @text_color;
}

.event .title {
    font-weight: 600;
}

.event .link label {
    color: shade(@accent_color, 0.65);
}
