.event {
    background: @selected_bg_color;
    border-radius: 3px;
    color: @selected_fg_color;
    padding: 6px;
}

.event:backdrop {
    background-color: @theme_unfocused_selected_bg_color;
    color: @theme_unfocused_selected_fg_color;
}

.cell .event {
    padding: 3px 6px;
    margin-bottom: 3px;
}

.cell.dim-label .event {
    background: alpha (@base_color, 0.7);
    color: @text_color;
}

.event .title {
    font-weight: 600;
}

row:selected .event {
    background: @base_color;
    background-image: linear-gradient(to right, @selected_bg_color, @selected_bg_color);
    box-shadow:
       0 1px 2px alpha (#000, 0.2),
       0 1px 3px alpha (@selected_bg_color, 0.15);
   color: @selected_fg_color;
}
